<div id="<%= dom_id booking %>">
  <ul>
    <li>
      <strong>Id:</strong>
      <%= booking.id %>
    </li>
    <li>
      <strong>Start Date:</strong>
      <%= booking.start_date %>
    </li>
    <li>
      <strong> End Date </strong>
      <%= booking.end_date %>
    </li>
  </ul>
</div>
