<h1>Bookings</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>
  <%= booking.id %>
    <p>
      <%# <%= link_to 'Show', instrument_booking_path(@instrument, @booking) %>
      <%# Or use button_to instead of link_to
      <%= button_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
