<h1>Bookings</h1>

<div id="bookings">

  <% @bookings.each do |booking| %>
  <div class="booking-card">
  <%= render booking %>
  </div>
  <% end %>
</div>
  <%= link_to 'Back to home', root_path() %>
