
<div class="container">
  <p>Instrument name <%=  @booking.instrument.name %></p>
  <p>Booking status <%=@booking.status %></p>
  <p>Booking Start Date <%= @booking.start_date %></p>
  <p>Booking End Date <%= @booking.end_date %></p>
</div>
