.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 10px;
  max-width: 1200px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.banner h1 {
  margin: 0;
  padding-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
